@import '../abstracts/mixins.scss';
body {
    font-size: 62.5%;    
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 75%;
    }
     
    @include respond(tab-land) { 
        font-size: 50.25%;
    }

    @include respond(tab-port) {
        font-size: 50%; 
    }
}
a {
    text-decoration: none;
}

.first-section {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }

 */