@import '../../sass/abstracts/variables.module.scss';
@import '../keyframes/Banner/keyframes.css';
@import '../abstracts/mixins.scss';
.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    z-index: -1;
    overflow: hidden;
    &__intro-text {
        position: absolute;
        text-align: center;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 4.5rem;
        @include respond(tab-land) {
            font-size: 3rem;
        }
        @include respond(tab-port) {
            font-size: 2.5rem;
        }
        font-weight: 700;
        background: -webkit-linear-gradient(left,$light-2, $light);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: introText 3s;
        z-index: 2;
        &__name {
            background: -webkit-linear-gradient(left,$gold-color, #CDA43C);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__link-text {
        position: absolute;
        height: 3rem;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-weight: 700;
        color: $light;
        z-index: 2;
    }
    &__link-to-about-me {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
        animation: arrowDown 1s;
        z-index: 5;
        &:hover &__svg {
            transform: scale(1.1);
            border-top: 2px solid $color-black;
        }
        &__svg {
            transition: all .3s;
            width: 3rem;
            z-index: 6;
            padding: .5rem;
            border-top: 2px solid transparent;
            filter: invert(76%) sepia(97%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(84%);
        }
    }
    &__video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        -webkit-filter: saturate(150%) brightness(50%);
        filter: saturate(150%) brightness(50%);
        z-index: -1;
    }
}