@import '../abstracts/variables.module.scss';
@import '../abstracts/mixins.scss';
.projects {
    display: flex;
    padding: 10rem;
    flex-direction: column;
    background-color: $dark-2;
    @include respond(phone) {
        padding: 0;
    }
    &__title {
        text-align: center;
        margin-bottom: 8rem;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1rem;
        color: $light;
    }
    &__div {
        display: flex;
        @include respond(phone) {
            width: 100%;
            gap: 10rem;
        }
        height: 50rem;
        overflow-y: scroll;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}


::-webkit-scrollbar
{
    height:20px;
}
::-webkit-scrollbar-thumb {
    background-color: $light-2;
    border-radius: 10px;
}
