//COLOR VARIABLES
$gold-color: #CBA135;

$dark: #1D201D;
$dark-2: #191919;

$light: #EBEBEB;
$light-2: #CCCCCC;

$color-white: #fff;
$color-black: #000;

:export {
    gold-color: $gold-color;
    light: $light;
    dark: $dark;
    dark-2: $dark-2;
    light: $light;
    light-2: $light-2;
    color-white: $color-white;
    color-black: $color-black;
}