//COLOR VARIABLES
$primary-dark: #28221f;
$primary-light:	#ded2c4;
$neutral-color: #5c4b42;
$secondary-light: #f3f3f3;
$color-white: #fff;
$color-black: #000;
:export {
    primary-dark: $primary-dark;
    primary-light: $primary-light;
    neutral-color: $neutral-color;
    color-white: $color-white;
    color-black: $color-black;
}